.wrapper-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper-description-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;

}

.description-flat, .book-flat {
  padding: 20px;
}

#info-flat {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  max-width: 600px;
}

.title-info {
  display: flex;
  justify-content: space-around;
}

.icon-info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey
}
.book-flat {
  border: 1px solid lightgrey;
  margin-left: 15px;
}


.info-avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

#total-price {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  padding-bottom: 34px;



}

