<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,183,0.1) 100%, rgba(0,30,100,0.4) 53%), url(<%= image_path "background.jpg"%>);">
  <div class="banner-content">
    <h1>AirBnB</h1>
    <p>Find the best place to stay</p>
    <a class="btn btn-primary btn-lg">Search for houses</a>
  </div>
</div>

<h2>All places</h1>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">
          <p> Price: <%= flat.price %> </p>
        </div>
        <div class="card-description">
        <h3><%= link_to flat.name, flat_path(flat), {:style=> 'color:#E0D3DE;' 'text-decoration:none'}%></h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="add-flat">
  <%= link_to "Add a new flat", new_flat_path, class: "btn-medium" %>
  </div>
</div>
