

<div class="footer">
  <div class="footer-links center">
   <!-- <i class="fa fa-github"></i></a> -->
    <a href="https://www.instagram.com/airbnb/?hl=en"><i class="fa fa-instagram icon-size"></i></a>
    <a href="https://www.facebook.com/airbnb/"><i class="fa fa-facebook icon-size"></i></a>
    <a href="https://twitter.com/Airbnb?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter icon-size"></i></a>
    <a href="https://www.linkedin.com/company/airbnb/"><i class="fa fa-linkedin icon-size"></i></a>
  </div>
 <!--  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div> -->

</div>
