.btn-airbnb{
  background-color: white;
  color: #ff2f51;
  border: solid 3px #ff2f51;
  border-radius: 5px;
  opacity:0.6;
  padding: 8px;
  font-weight: lighter;
  &:hover{
    opacity:0.9;
    text-decoration: none;
    color: #ff2f51;
  }
}

.btn-airbnb-pink{
  background-color: #ff2f51;
  color: white;
  border-radius: 7px;
  padding: 10px;
  opacity:0.6;
  font-weight: lighter;
  &:hover{
    opacity:0.9;
    text-decoration: none;
    color:white;
  }
}

.btn-medium-airbnb {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium-airbnb:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse-airbnb {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse-airbnb:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */
